<h2>Por capital</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar capital"></app-pais-input>    <!--placeholder es la propiedad definida en "pais-input.component.ts"-->
    </div>
</div>

<hr>

<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el término {{termino}}
</div>

<div class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>